.App{
    background-color: aqua;
    height: 100vh;


    background: rgb(27,27,32);
    background: linear-gradient(0deg, rgba(27,27,32,1) 0%, rgba(68,42,54,1) 50%, rgba(40,84,84,0.4822303921568627) 100%);
}